@model MFADto


<p>Please enter the code below in your authenticator application</p>
<p>
    @Model.Token
</p>

<form asp-action="MFASetup" asp-controller="Identity" method="post">
    <input type="hidden" asp-for="Token" />
    <div class="form-group">
        Enter Code: <input type="text" class="form-control" asp-for="Code"/>
    </div>
    <p>
        Alternatively, scan the code below
    </p>
    <div id="qrcode"></div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

@section Scripts {
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), "@Model.QRCodeUrl");
    </script>
}