@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="Admin" class="btn btn-primary">Admin</a>
    <a asp-action="Member" class="btn btn-primary">Member</a>
</div>
